<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZW7MDJ');</script>

    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bring back taxi and rideshare safety training in Toronto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZW7MDJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" aria-hidden="true">
        <a class="navbar-brand" href="https://safety.to">safety.to</a>
    </div>

    <div class="container">
        <header class="container">
            <div class="jumbotron">
                <h1 class="display-4">Bring back taxi and rideshare safety training in Toronto</h1>
                <hr class="my-4">
                <p>On March 21, 2018, <a href="https://globalnews.ca/news/4422507/nicholas-cameron-toronto-uber-training/" target="_blank" rel="noopener noreferrer">our little brother Nick was killed by an untrained and unsafe Uber driver</a>. We believe Nick’s death was a direct result of City Council’s 2016 decision to scrap safety training requirements for both taxi and rideshare drivers.</p>

                <p>Over 20,000 people have signed our petition so far and we are extremely grateful for everyone's support.</p>

                <h3 class="mt-4 mb-2">How you can help</h3>

                <ul>
                    <li>If you haven’t already, <a href="https://www.change.org/p/bring-back-taxi-and-rideshare-safety-training-in-toronto" target="_blank" rel="noopener noreferrer">sign and share our change.org petition</a>.</li>
                    <li>Contact any candidates you are considering voting for using the list below.</li>
                    <li>Feel free to cc us at <a href="mailto:ridesharesafety@gmail.com">ridesharesafety@gmail.com</a>.</li>
                    <li>If they have no stated position, ask them if they support rideshare safety.</li>
                    <li>If you get a response about a candidate’s position, email us and we’ll update this page.
                </ul>

                <h3 class="mt-4 mb-2">Thank you</h3>
                <p>Any way you can help our campaign is a wonderful gift to our family, helping us turn this horrible tragedy into something positive by making sure the system won’t fail anyone else again like it did with Nick.</p>
                <p>-Patrick and Rachel Cameron</p>

                <a class="btn btn-primary btn-lg mb-2 mt-4" href="https://www.change.org/p/bring-back-taxi-and-rideshare-safety-training-in-toronto" target="_blank" rel="noreferrer nofollow">Sign our change.org petition <img class="external-link-svg" src="img/external-link--white.svg"></a>
                <a class="btn btn-primary btn-lg mt-4 mb-2 ml-2" href="https://myvote.toronto.ca" target="_blank" rel="noreferrer nofollow">Look up your ward <img class="external-link-svg" src="img/external-link--white.svg"></a>
            </div>
        </header>

        <main class="container" id="main">

            <!-- Quick Links -->
            <div class="dropdown quick-navigation">
                <a class="btn btn-warning btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quick Nav</a>

                <div id="js--dropdown-menu" class="dropdown-menu force-webkit-scrollbar" aria-labelledby="dropdownMenuLink">
                    <a
                        v-for="ward in wardData"
                        class="dropdown-item"
                        :href="'#' + ward.name.replace(/\s/g, '')">{{ ward.ward_number ? 'Ward ' + ward.ward_number : '' }} {{ ward.name }}</a>
                </div>
            </div>

            <!-- Ward tables -->
            <div id="js--candidate-tables">

                <div
                    v-for="ward in wardData"
                    :id="ward.name.replace(/\s/g, '')"
                    class="row pb-5">

                    <div class="col-12 text-center">

                        <!-- Ward name -->
                        <p class="lead">
                            <span v-if="ward.ward_number">
                                <strong>
                                    Ward {{ ward.ward_number }}
                                </strong>
                            </span>
                            {{ ward.name }}
                        </p>

                        <div class="table-responsive force-webkit-scrollbar">

                            <table class="table">

                                <!-- Table header -->
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Website</th>
                                        <th scope="col">Position</th>
                                    </tr>
                                </thead>

                                <!-- Candidate info -->
                                <tbody>
                                    <tr v-for="candidate in ward.candidates" v-if="!candidate.hide">
                                        <th>{{ candidate.name }}</th>
                                        <td>
                                            <a
                                                v-if="candidate.email"
                                                :href="'mailto:' + candidate.email">
                                                {{ candidate.email }}
                                            </a>
                                        </td>
                                        <td>
                                            <a
                                                v-if="candidate.tel"
                                                :href="'tel:' + candidate.tel">
                                                {{ candidate.tel }}
                                            </a>
                                        </td>
                                        <td>
                                            <a
                                                v-if="candidate.website"
                                                :href="'http://' + candidate.website"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                >
                                                {{ candidate.website }}
                                            </a>
                                        </td>
                                        <td>
                                            <span
                                                v-if="candidate.position">
                                                {{ candidate.position }}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </main>

        <footer class="card mb-3">
            <div class="card-body pt-3 pb-3 text-center">
                <small>For clarity, some candidates are excluded from this list. A full list of candidates can be found <a href="http://app.toronto.ca/vote/candidateListAll.do">here</a>.</small>
                <br>
                <small>Site contact: <a href="mailto:ridesharesafety@gmail.com">ridesharesafety@gmail.com</a>.</small>
            </div>
        </footer>

    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper (for dropdown menu) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <!-- Site scripts -->
    <script type="text/javascript" src="scripts.js"></script>

    </body>
</html>
